.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --border-color_hover: #ff007066;
  --border-color_active: #353430;
  --accent-color: #ff0070;
  --title-shadow-color: #ff0070;
  --decorated-color: #ff0070;
  --section-text-color: var(--button-color);
  --button-color: #ff0070;
  --text-color: #f1b2ce;
  --main-font-family: "IBM Plex Mono", "monospace";
  --main-font-size: 16px;
  --spare-font-size: 18px;
  --main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.page.theme_dark .rec {
  display: block;
}
