/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --border-color_hover: #32312d66;
  --border-color_active: #353430;
  --accent-color: #ff8dcb;
  --title-shadow-color: #ff0070;
  --decorated-color: #353430;
  --section-text-color: var(--button-color);
  --button-color: #353430;
  --text-color: #353430;
  --main-font-family: "IBM Plex Mono", "monospace";
  --main-font-size: 16px;
  --spare-font-size: 18px;
  --main-font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --border-color_hover: #32312D66;
    --border-color_active:#353430;
    --accent-color: #ff8dcb;
    --title-shadow-color: #ff0070;
    --decorated-color: #353430;
    --section-text-color: var(--button-color);
    --button-color: #353430;
    --text-color: #353430;
    --main-font-family: "IBM Plex Mono", "monospace";
    --main-font-size: 16px;
    --spare-font-size: 18px;
    --main-font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec {
    display: none;
  }
}

@media (width >= 1024px) {
  .header_title {
    text-shadow: 4px 4px 0px var(--title-shadow-color);
  }
  .footer__text {
    text-shadow: 2px 2px 0px var(--title-shadow-color);
  }
}
